@import "flowbite/src/themes/default";
@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";
@source "../node_modules/flowbite-datepicker";

[x-cloak] {
    display: none;
}

#fc-dom-1{
    font-size: 11px;
}

.fc-event-title{
    font-size: 10px;
}

tr{
    height: 2px;
}

:root {
    --fc-border-color: none;
    --fc-daygrid-event-dot-width: 15px;

    --fc-today-bg-color: rgb(255, 255, 255);
  }

